@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}


body {
  height: 100vh;
  font-family: 'Gulzar',serif;
  background-color: hsl(212, 11%, 26%);
}